{% extends 'base.html' %}
{% include 'carousel.html' %}
{% block content %}
<style type="text/css">
  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
</style>
<br><br>

<div class="container" >
  <h2 style="text-align: center;">Contact Us</h2>
</div>
<br><br>



<div class="container">
  <p class="card-text"><h5>Email </h5><a href="mailto:animesh.shrivatri2002@gmail.com">animesh.shrivatri2002@gmail.com</a></p>
  <p class="card-text">Mobile : +91 8085877979</p>
  <p class="card-text">Our Support works 24x7.</p>

</div>



<br><br><br>


<br><br><br><br><br><br>
{% endblock content %}