{% extends 'base.html' %}
{% block content %}

{% if not plan_active %}
  <style type="text/css">
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
  </style>
  <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">You dont have any plan please Buy it.</h5>
                <a href="{% url 'pricing' %}"><button type="summit" class="btn btn-primary">Buy</button>
                <p class="card-text"></p></a>
            </div>
        </div>
  </div>
{% endif %}


{% endblock content %}