{% extends 'base.html' %}
{% include 'carousel.html' %}
{% block content %}
<style type="text/css">
  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
</style>
<br><br>

<div class="container" >
  <h2 style="text-align: center;">3 Easy Steps for Offline to Online.......</h2>
</div>
<br><br>

<!-- card for these 3 steps -->

<div class="container">
  <div class="row">
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Sign Up</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
          <p class="card-text">Then we both communicate for next process.</p><br>
          <a href="#" class="card-link">Sign Up</a>
          <a href="#" class="card-link">Log In</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">We Build your website</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">We Build your website</h6> -->
          <p class="card-text">For Student attraction we specifically build your website with all features.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Use your plateform</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Use your plateform</h6> -->
          <p class="card-text">After building website we will give you all access to site and we always behind you for support </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- why EduVue -->
<br><br>

<div class="container" >
  <div class="row">
    <div class="col">
  <div class="card text-center">
  <div class="card-header">
    Why EduVue ?
  </div>
  <div class="card-body">
    {% for l in why_eduvue_text %}
    <abbr title="{{l.1}}" style="text-decoration: none;"><h5 class="card-title" style="display: inline;">{{l.0}}</h5><pre style="display: inline;">    </pre></abbr>
    {% endfor %}
  </div>
  
</div>
</div>
</div>
</div>
<br><br>

<div class="container" >
  <h2 style="text-align: center;">Our Team</h2>
</div>
<br><br>

<!-- Our team card-->

<div class="container">
  <div class="row">
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title" style="text-align: center;">Manik Kashyap</h5>
        <img src="https://parakh.online/img/About/manik%20kashyap.webp">
        <div class="card-body">
          <p class="card-text">Self-made Entrepreneur with over 10 years of experience in managing online/offline examinations. Life-long Learner, Talented Liasioner</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title" style="text-align: center;">Indu Kashyap</h5>
        <img src="https://parakh.online/img/About/indu%20kashyap.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Successful Businesswoman, who
provides safe harbour for the core team
by leveraging her 7 years of experience
in Entrepreneurship. She manages the
Human Resources and the creative
department </p>
        </div>
      </div>  
    </div>
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title" style="text-align: center;">Ankit Bansal</h5>
        <img src="https://parakh.online/img/About/ankit%20bansal%20.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">IIT -IIM Graduate with 13
years of multi-domain
experience. Held National
Head roles in multiple
companies. Managed
more than 100 Cr worth
of businesses.
</p>
        </div>
      </div>
    </div>
  </div>
</div>



<br><br><br><br>
<div class="container">
  <button type="button" class="btn btn-primary btn-lg btn-block">Log In</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Sign Up</button>
</div>


<br><br><br><br><br><br>
{% endblock content %}

